{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        <div>
          {% from "_formhelpers.html" import render_field %}
            <h1 class="rounded bg-primary py-4 text-center text-white"> <b>Login </b>  </h1>
           <div class="container mt-5  ">
            {% include '_messages.html' %}
            <form   method="POST">
              {{ form.hidden_tag() }}

                
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"><b>Email address :</b> </label>
                  {{ form.email(class ="form-control  border border-dark") }}
                
                </div>
                <div class="mb-3">
                  
               
                  {{ render_field(form.password,class =" form-control  border border-dark") }}
                </div>
                
              
                  {{ form.submit(class =" btn btn-primary px-3 mt-3") }}

              </form>
               <div class="text-center mt-2">
                <p> New user ? Sign Up </p>
                <a href="{{url_for('register')}}" type="button" class="btn btn-outline-primary
                " >Sign up</a>
               </div>


           </div>
        </div>

        </div>
        <div class="col-sm-4"></div>

    </div>
</div>
    
{% endblock  %}